*{
    margin: 0;
    border: 0;
    font-family: sans-serif;
}
.container{
    margin: 20px 40px;
}
.container h3{
    color: brown;
}
.row{
    margin-bottom: 40px
}
.btn-primary{
    border-radius: 25px;
    font-size: 20px;
}